:root {
  --primal-color: #F3F2EF;
  --second-color: #3a5ba0;
}

html {
  background-color: var(--primal-color);
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}
