:root {
}

html {
  --primal-color: #f3f2ef;
  --second-color: #3a5ba0;
  --third-color: #03001C;

  background-color: var(--primal-color);
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  width: 0;
}

body {
  margin: 0;
}

@keyframes enable {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes desable {
  0% {
    left: 0%;
  }
  50% {
    left: 100%;
  }
  100% {
    visibility: hidden;
  }
}

.enable {
  animation: enable 1s ease both;
}

.desable {
  animation: desable 1s ease both;
}

@media screen and (max-width: 920px) {
  .desktop-only {
    display: none;
  }
}
