@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
}

html {
  --primal-color: #f3f2ef;
  /*--second-color: #3a5ba0;*/
  --second-color: #2d64e3;
  --third-color: #141414;

  background-color: var(--primal-color);
  font-family: "Outfit", sans-serif;
  font-weight:200;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  width: 0;
}

body {
  margin: 0;
}

span{
  font-weight:500;
}

@keyframes enable {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes desable {
  0% {
    left: 0%;
  }
  50% {
    left: 100%;
  }
  100% {
    visibility: hidden;
  }
}

.enable {
  animation: enable 1s ease both;
}

.desable {
  animation: desable 1s ease both;
}

@media screen and (max-width: 920px) {
  .desktop-only {
    display: none;
  }
}
